            :root{
                --bg: #fff;
                --text: #000;
                --accent: #ccc;
                --prompt: #000;
                --cursor: #000;
                --shadow: #000;
            }
            /* Page */
            * {
                font-size: 15px;
                font-family: monospace, sans-serif;
                font-weight: normal;
                /*Have to fix scrolling before I get rid of cursor: cursor: none;*/
            }
            html, body {
                height: 100%;
                margin: 0px;
            }
            body {
                background: var(--bg) fixed;
                color: var(--text); 
                display: grid;
                place-items: center;
            }
            .screen {
                width: min(800px, 92vw);
                height: min(800px, 80vh);
                background-color: var(--bg);
                border: 2px solid var(--text);
                filter: drop-shadow(5px 5px var(--text));
                display: grid;
                padding: 0px;
                /*overflow-y: auto;
                word-break: normal;
                overflow-wrap: anywhere;*/
                scrollbar-width: none;
                align-content: start;
            }
            h1 {
                background-color: var(--text); 
                color: var(--bg);
                margin: 0px;
                padding-left: 1em;
                padding-bottom: 0.20em;
            }
            .term {
                padding: 1em 1em 1em 1em;
                margin: 0px;
                overflow-y: auto;
                word-break: normal;
                overflow-wrap: anywhere;
                scrollbar-width: none;
                align-content: start;
            }

            .line {
                width: 100%;
                display: flex;
            }
            .line > * {
                padding-right: 1em;
            }
            .cmdPrompt {
               flex-shrink: 0;
            }
            .line input {
                flex: 1;
                border: none;
                outline: none;
                background: inherit;
                color: inherit;
                margin: 0px;
                padding: 0px;
            }
            input:disabled {
                color: inherit;
                font-size: inherit;
            }
            strong {
                font-weight: bold;
            }
